@media screen and (min-width: 600px) {
    .tv-channel-show {
        border-bottom: none;
        height: auto;
    }

    .tv-channel-show__wrapper {
        display: inline-block;
    }

    .tv-channel-show__title {
        margin-left: 60px;
        line-height: 26px;
    }
}