mixin tv-item(channelInfo)
    .tv-layout__item
        .tv-channel
            .tv-channel__header.clearfix
                .tv-channel-icon
                    img.tv-channel-icon__img(src='images/' + channelInfo.imgName, alt=channelInfo.imgAlt)
                .tv-channel-title
                    span.tv-channel-title__name #{channelInfo.title}
            .tv-channel__shows
                each show in channelInfo.shows
                    .tv-channel-show
                        .tv-channel-show__wrapper
                            a.link.tv-link(href='description.html')
                                .tv-channel-show__time
                                    span.time #{show.time}
                                .tv-channel-show__title
                                    span.show-title #{show.title}

each channel in channels
    +tv-item(channel)